body{
	background-color:#6C8AD5;
}
header .logo a{
	border:2px solid #502900;
	background-color:#502982;
	padding:10px;
	text-decoration: none;
	list-style:none;
	color:white;
	font-size:24px;
}

.navbar {
	float:right;
	/*position:fixed;*/
}

.navbar li{
	float:left;
	padding:20px;
	list-style:none;
	background-color:#65E080;
	margin:5px;
	font-size:24px;
}

.navbar ul a{
	text-decoration: none;
	
}

.clear{
	clear:both;
}

h1{
	text-align:center;
	color:white;
}
h2{
	text-align:center;
	color:white;
}

footer{
	/*position:fixed;*/
	left:0;
	bottom:0;
	background-color:gray;
	text-align:center;
	padding:30px;
	width:100%;
}