body{
	background-color:gray;
}

h1{
	text-align: center;
	color:yellow;
}

.krestiki_noliki{
    width: 306px;
    margin: 0 auto;
}

.krestiki_noliki .block{
	background-color:red;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
	color:blue;
}