body{
	font-family: 'Arial',Sans-serif;
	font-size: 15px;
	padding:0px;
	margin:0px;
	line-height:1.5em;
	letter-spacing:0.1em;
}

.container{
	width:1170px;
	margin:0 auto;
}

header{
	background:url(img/header_bg.png) no-repeat;
}

.logo{
	padding-top: 30px;
	text-align:center;
}

.logo a{
	text-decoration: none;
	list-style:none;
	color:red;
	font-size:24px;
	text-align:center;
}

h1{
	text-align:center;
	color:white;
	margin-top: 100px;
	line-height:1.5em;
}

h2{
	text-align:center;
	color:blue;
	padding: 30px;
}

.poisk{
	text-align:center;
}

.poisk__input{
	margin-bottom:100px;
	padding: 10px;
	width: 500px;
}

.poisk__act{
	margin-bottom:100px;
	padding: 10px;
	background-color: blue;
}

.clear{
	clear:both;
}

.input{
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.textarea{
	width:200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
}

.act{
   width: 200px;
   margin: 10px;
   padding: 10px;
   background-color: red;
}

.catalog__img-text{
	/*width: 100%;*/
	width: 500px;
    display: block;
    overflow:hidden;
    cursor:pointer;
    float:left;
    position: relative;
    margin-right: 5px;
}

.catalog__img-text:hover .catalog__img img{
	/*width: 100%;*/
	background-color: black;
	width: 500px;
	opacity: 0.5;
}

.catalog__text{
	position:absolute;
	text-align: center;
	top: 100px;
	left:110px;
	color:red;
	opacity: 0;
}

.catalog__img-text:hover .catalog__text{
	opacity: 1;
}

.catalog__button{
	height: 100px;
	margin-top: 50px;
	text-align: center;
}

.catalog__button a {
	text-decoration: none;
	text-align: center;
	padding: 20px;
	border:1px solid black;
	border-radius: 10px;
	font-size:18px;
	margin-top: 50px;
}

#more{display:none;}

#btn{
	padding: 10px;
	margin: 50px;
}

.btn-center{
	text-align: center;
}

#sale{
	background-color: red;
}

.sale__form{
	text-align:center;
}

footer{
	/*position:fixed;*/
	left:0;
	bottom:0;
	background-color:gray;
	text-align:center;
	padding:30px;
	width:100%;
}